.cartContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 600px;
    height: 100vh;
    padding: 60px 12px 0;
    background: #f4f4f8;
    overflow: auto;
    transition: transform 0.2s ease-in-out;
    transform: translateX(0);
}

.cartContainer__transform {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 300px;
    height: 100vh;
    padding: 60px 12px 0;
    background: #f4f4f8;
    overflow: auto;
    transition: transform 0.2s ease-in-out;
    transform: translateX(300px);
}

.CartClearButton {
    width: 100%;
    margin: 16px 0;
    padding: 8px 12px;
    color: #fff;
    background-color: #2a2c41;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.CartClearButton:hover {
    background: #ff724c;
}

.EmptyCart {
    padding: 16px;
    color: #888;
    text-align: center;
}

.CartItem {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 16px 0;
    border-bottom: 0.8px solid #2a2c41;
}

.CartProductTitle {
    font-size: 16px;
}

.CartProductSubtotal {
    margin-top: 4px;
    color: #666;
}

.CartProductAction {
    display: grid;
    grid-template-columns: 30px 40px 30px;
    grid-template-rows: 40px;
    align-items: center;
    padding: 8px 0 0;
    text-align: center;
}

.ActionButton {
    background-color: #ff724c;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    color: #f4f4f8;
    border: 1px solid #efefef;
    opacity: 1;
    font-size: 20px;
}

.ActionButton__disabled {
    background-color: #ff724c;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    color: #222;
    border: 1px solid #efefef;
    opacity: 1;
}

.ActionButton:hover {
    background-color: #2a2c41;
}

.CartProductQuantity {
    height: 30px;
    line-height: 30px;
}

.CartTotal {
    padding: 16px 0;
    font-size: 20px;
    text-align: right;
    color: #2a2c41;
}

@keyframes example {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.Mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    animation-name: example;
    animation-duration: .2s ease-in-out;
}

.checkOutButton {
    width: 50%;
    margin: 16px 0;
    padding: 8px 12px;
    color: #fff;
    background-color: #2a2c41;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.checkOutButton:hover {
    background: #ff724c;
}