.signInContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 100vh;
    padding: 60px 12px 0;
    background: #f4f4f8;
    overflow: auto;
    transition: transform 0.2s ease-in-out;
    transform: translateX(0);
    display: flex;
}

.signInContainer__transform {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 300px;
    height: 100vh;
    padding: 60px 12px 0;
    background: #f4f4f8;
    overflow: auto;
    transition: transform 0.2s ease-in-out;
    transform: translateX(300px);
    display: flex;
}


@keyframes example {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.Mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    animation-name: example;
    animation-duration: .2s ease-in-out;
}

@media (max-width: 768px) {

    .signInContainer {
        width: 95%;
        padding: 20px 12px 0;
    }
}